Source/ScratchPrintingProject/SampleData/People/People.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.People" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.People" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="People" type="tns:People" />
  <xs:complexType name="People">
    <xs:sequence>
      <xs:element name="Person" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PersonItem" type="tns:PersonItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonItem">
    <xs:sequence>
      <xs:element name="Values" type="tns:Values" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Address" name="Address" type="xs:string" />
    <xs:attribute name="Photo" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="2" name="Age" type="xs:double" />
    <xs:attribute blend:Format="Website URL" name="Website" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Values">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ValuesItem" type="tns:ValuesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValuesItem">
    <xs:attribute blend:FormatParameters="2" name="X" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="Y" type="xs:double" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>